@model TelerikMvcWebMail.Models.ContactViewModel

<div class="contact-edit-view k-widget">

    @Styles.Render("~/Content/new.css")

    <h2 class="form-title"><span class="action">Create New</span> Contact</h2>
    <div class="forms-panel">
        @Html.HiddenFor(Model => Model.EmployeeID)
        @Html.Label("newContactFolder", "Folder")
        @(Html.Kendo().DropDownListFor(Model => Model.Folder)
        .BindTo(new List<SelectListItem>() {
            new SelectListItem() {
                Text = "Favorites",
                Value = "Favorites"
            }, new SelectListItem() {
                Text = "Friends",
                Value = "Friends"
            }, new SelectListItem() {
                Text = "Work",
                Value = "Work"
            }
        })
        )
        @Html.Label("Title", "Title")
        @(Html.TextBoxFor(Model => Model.Title, new { @class = "k-textbox" }))
        <span data-for="ProductName" class="k-invalid-msg"></span>
        @Html.Label("Name", "Name")
        @(Html.TextBoxFor(Model => Model.Name, new { @class = "k-textbox" }))
        <span data-for="ProductName" class="k-invalid-msg"></span>
        @Html.Label("Company", "Company")
        @(Html.TextBoxFor(Model => Model.Company, new { @class = "k-textbox" }))
        @Html.Label("City", "City")
        @(Html.TextBoxFor(Model => Model.City, new { @class = "k-textbox" }))
        @Html.Label("Country", "Country")
        @(Html.TextBoxFor(Model => Model.Country, new { @class = "k-textbox" }))
        @Html.Label("Phone", "Phone")
        @(Html.TextBoxFor(Model => Model.Phone, new { @class = "k-textbox" }))
        @Html.Label("Email", "Email")
        @(Html.TextBoxFor(Model => Model.Email, new { @class = "k-textbox" }))
        <div class="form-buttons">
            <button type="button" class="k-button k-primary k-update-button" href="\\#">Save</button>
            <button type="button" class="k-button k-cancel-button" href="\\#">Cancel</button>
        </div>
    </div>
    <div class="upload-wrapper">
        @(Html.Kendo().Upload()
            .Name("photo")
            .Multiple(false)
            .Async(a => a
                .Save("UploadPhoto", "Contacts")
                .Remove("RemovePhoto", "Contacts")
                .AutoUpload(true)
            )
            .Validation(v => v.AllowedExtensions(new string[] { ".gif", ".jpg", ".png" }))
            .Messages(m => m
                .Select("Add Photo ...")
                .DropFilesHere("Drop files here to upload")
            )
            .Events(e => e.Select("onImageSelect"))
        )
        <span class="image-wrapper"></span>
    </div>
</div>