@{
    ViewBag.Title = "NewTask";
}

<script>
    function addClick() {
        var selectedCategory = $('#newTaskCategory').data('kendoDropDownList').value();
        var subject = $('.subject-textbox').val();
        var content = $('#newTask').data('kendoEditor').textarea.val();

        $.ajax({
            method: "POST",
            url: "/Tasks/Tasks_Create",
            data: {
                task: {
                    Category: selectedCategory,
                    Subject: subject,
                    Content: content
                }
            }
        }).done(function (msg) {
            window.location.href = "/Tasks/Index";
        });
    }

    function cancelClick() {
        window.location.href = "/Tasks/Index";
    }
</script>

<div class="new-wrapper">
    <h2>Add Task</h2>
    <div class="new-line">
        @Html.Label("newTaskCategory", "Priority")
        <br />
        @(Html.Kendo().DropDownList()
            .Name("newTaskCategory")
            .BindTo(new List<SelectListItem>() {
                new SelectListItem() {
                    Text = "All",
                    Value = "All"
                },
                new SelectListItem() {
                    Text = "Personal",
                    Value = "Personal"
                },
                new SelectListItem() {
                    Text = "Work",
                    Value = "Work"
                }
            })
            .Value("All")
            .HtmlAttributes(new { style = "width: 200px;" })
        )
    </div>
    <div class="new-line">
        <label for="subject-textbox">Subject</label>
        <br />
        <input type="text" class="k-input long-textbox subject-textbox" name="subject-textbox">
    </div>

    @(Html.Kendo().Editor()
        .Name("newTask")
        .HtmlAttributes(new { style = "height: 500px;" })
        .Resizable(resizable => resizable.Content(true).Toolbar(true))
    )
    <div class="new-line">
        @(Html.Kendo().Button()
            .Name("addTask")
            .HtmlAttributes(new { @class = "k-primary" })
            .Tag("span")
            .Content("Add Task")
            .Events(e => e.Click("addClick"))
        )

        @(Html.Kendo().Button()
            .Name("cancel")
            .Tag("span")
            .Content("Cancel")
            .Events(e => e.Click("cancelClick"))
        )
    </div>
</div>
