@{
    ViewBag.Title = "Calendar";
}

<aside class="calendar-aside">
	@(Html.Kendo().Calendar()
		.Name("calendar")
	)
	<ul class="calendar-checkbox-list">
		<li>@(Html.Kendo().CheckBox().Name("personal").Checked(true).Label("Personal"));</li>
		<li>@(Html.Kendo().CheckBox().Name("work").Checked(true).Label("Work"));</li>
		<li>@(Html.Kendo().CheckBox().Name("Development").Checked(true).Label("development"));</li>
		<li>@(Html.Kendo().CheckBox().Name("design").Checked(true).Label("Design"));</li>
		<li>@(Html.Kendo().CheckBox().Name("marketing").Checked(true).Label("Marketing"));</li>
	</ul>
</aside>

<div class="content">
	@(Html.Kendo().ToolBar()
		.Name("calendarToolbar")
		.Items(items =>
		{
			items.Add().Type(CommandType.Button).Text("Next");

			items.Add().Type(CommandType.SplitButton).Text("Export").MenuButtons(menuButtons =>
			{
				menuButtons.Add().Text("Export to PDF");
				menuButtons.Add().Text("Export to Image");
			});

			items.Add().Type(CommandType.Button).Text("Import");

			items.Add().Type(CommandType.Button).SpriteCssClass("k-tool-icon k-i-search");
		})
	)


	<h2 class="scheduler">Calendar</h2>
</div>


