@{
    ViewBag.Title = "Mail";
}

@section PageStyles {
    <link href="@Url.Content("~/Content/mail.css")" rel="stylesheet" type="text/css" />
}

<style>
    .unread {
        font-weight: bold;
    }
</style>

@model IEnumerable<TelerikMvcWebMail.Models.MailViewModel>

@Html.Partial("Sidebar")

<section class="main-section">
    @(Html.Kendo().Menu()
        .Name("mailMenu")
        .Items(items =>
        {
            items.Add()
                .Text("Reply")
                .Items(children =>
                {
                    children.Add().Text("Reply").HtmlAttributes(new { @id = "RE", @operation = "replyForward" });
                    children.Add().Text("Reply All").HtmlAttributes(new { @id = "RE", @operation = "replyForward" });
                    children.Add().Text("Forward").HtmlAttributes(new { @id = "FW", @operation = "replyForward" });
                });
            items.Add().Text("Delete").HtmlAttributes(new { @id = "Deleted", @operation = "moveDelete" });
            items.Add()
                .Text("Move")
                .Items(children =>
                {
                    children.Add().Text("Inbox").HtmlAttributes(new { @id = "Inbox", @operation = "moveDelete" });
                    children.Add().Text("Junk").HtmlAttributes(new { @id = "Junk", @operation = "moveDelete" });
                    children.Add().Text("Drafts").HtmlAttributes(new { @id = "Drafts", @operation = "moveDelete" });
                    children.Add().Text("Deleted").HtmlAttributes(new { @id = "Deleted", @operation = "moveDelete" });
                    children.Add().Text("NativeScript").HtmlAttributes(new { @id = "NativeScript", @operation = "moveDelete" });
                    children.Add().Text("KendoUI").HtmlAttributes(new { @id = "KendoUI", @operation = "moveDelete" });
                    children.Add().Text("Sitefinity").HtmlAttributes(new { @id = "Sitefinity", @operation = "moveDelete" });
                });
            items.Add()
                .Text("Junk")
                .Items(children =>
                {
                    children.Add().Text("Report Spam").HtmlAttributes(new { @id = "Junk", @operation = "moveDelete" });
                });
            items.Add()
                .Text("More")
                .Items(children =>
                {
                    children.Add().Text("Mark as read").HtmlAttributes(new { @id = "read", @operation = "readUnread" });
                    children.Add().Text("Mark as unread").HtmlAttributes(new { @id = "unread", @operation = "readUnread" });
                    children.Add().Text("Print").HtmlAttributes(new { @id = "FW", @operation = "print" });
                });
            items.Add().HtmlAttributes(new { @id = "verticalPanes", @operation = "changeView", @class = "iconsOnly" });
            items.Add().HtmlAttributes(new { @id = "horizontalPanes", @operation = "changeView", @class = "iconsOnly" });
        })
        .Events(e => e.Select("mailMenuSelect"))
    )
    <div class="inner-mail-content">
        <div class="mail-grid">
            <input type="text" class="k-input search-textbox" placeholder="Search mail ..." name="to-textbox">
            @(Html.Kendo().Grid(Model)
                .Name("mainWidget")
                .Columns(columns =>
                {
                    columns.Bound(p => p.IsRead)
                        .Title("")
                        .Width(60)
                        .Filterable(false)
                        .ClientTemplate("<input type='checkbox' class='chkbx' />");
                    columns.Bound(p => p.From).Title("From");
                    columns.Bound(p => p.Subject).Title("Subject");
                    columns.Bound(p => p.Subject).Title("Subject").ClientTemplate("<p>#= Subject #</p><p>#= From #</p>").Hidden(true);
                    columns.Bound(p => p.Date).Title("Date").Format("{0:g}");
                })
                .HtmlAttributes(new { style = "height: 100%;" })
                .Sortable()
                .Scrollable()
                .Groupable()
                .Selectable(s => s.Mode(GridSelectionMode.Multiple))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .AutoSync(true)
                    .PageSize(20)
                    .Model(model => model.Id(p => p.ID))
                    .Create(create => create.Action("Create", "Home"))
                    .Read(read => read.Action("Read", "Home"))
                    .Update(update => update.Action("Update", "Home"))

                )
                .Events(e => e.Change("mailSelectionChanged").DataBound("mailGridDataBound"))
            )
        </div>
        <div class="mail-details">
            <div class="mail-details-header">
                <h2 class="mail-subject"></h2>
                <p class="mail-date"></p>
                <p class="mail-sender-wrapper">
                    <label>To:</label>
                    <span class="mail-sender"></span>
                </p>
            </div>
            <p class="mail-text"></p>
        </div>
        @(Html.Kendo().ContextMenu()
            .Name("mailContextMenu")
            .Target("#mainWidget")
            .Orientation(ContextMenuOrientation.Vertical)
            .Items(items =>
            {
                items.Add().Text("Reply").HtmlAttributes(new { @id = "RE", @operation = "replyForward" });
                items.Add().Text("Reply All").HtmlAttributes(new { @id = "RE", @operation = "replyForward" });
                items.Add().Text("Forward").HtmlAttributes(new { @id = "FW", @operation = "replyForward" });
                items.Add().Text("Mark as unread").HtmlAttributes(new { @id = "unread", @operation = "readUnread" });
                items.Add().Text("Mark as read").HtmlAttributes(new { @id = "read", @operation = "readUnread" });
                items.Add().Text("Delete").HtmlAttributes(new { @id = "Deleted", @operation = "moveDelete" });
                items.Add().Text("Junk").HtmlAttributes(new { @id = "Junk", @operation = "moveDelete" });
                items.Add().Text("Print").HtmlAttributes(new { @id = "print", @operation = "print" });
            })
            .Events(e => e.Select("mailMenuSelect"))
        )
    </div>
</section>
<script>
    function mailMenuSelect(e) {
        switch (e.item.getAttribute("operation")) {
            case "replyForward":
                mailReplyForward(e.item.id);
                break;
            case "moveDelete":
                mailMoveDelete(e.item.id);
                break;
            case "readUnread":
                mailMarkAsReadUnread(e.item.id);
                break;
            case "print":
                mailPrint();
                break;
            case "changeView":
                e.item.id == "verticalPanes" ? changeToVerticalPanes() : changeToHorizontalPanes();
                break;
        }
    }

    function mailMoveDelete(id) {
        var grid = $("#mainWidget").data("kendoGrid");

        for (var i = 0; i < grid.select().length; i++) {
            var selectedItem = grid.dataItem(grid.select()[i]);
            selectedItem.Folder = id;
            selectedItem.dirty = true;
        }

        grid.dataSource.sync();

        var treeview = $("#navigationTreeView").data("kendoTreeView");
        var dataItem = treeview.dataItem(treeview.select());

        if (dataItem) {
            grid.dataSource.filter({ field: "Folder", operator: "contains", value: dataItem.value });
        }
    }

    function mailReplyForward(id) {
        var grid = $("#mainWidget").data("kendoGrid");
        var selected = grid.dataItem(grid.select());

        if (!selected) {
            $(".main-section").load('@(Url.Action("NewMail", "Home", new { @id = "placeholder0"}))'.replace("placeholder0", id));
        }
        else {
            var contact = selected.From.replace(/ /g, '%20');
            $(".main-section").load('@(Url.Action("NewMail", "Home", new { @id = "placeholder0", @contact = "placeholder1"}))'.replace("placeholder0", id).replace("placeholder1", contact));
        }
    }

    function mailMarkAsReadUnread(id) {
        var grid = $("#mainWidget").data("kendoGrid");
        var selectedRows = grid.select();

        for (var i = 0; i < selectedRows.length; i++) {
            var item = grid.dataItem(selectedRows[i]);
            id == "read" ? item.IsRead = true : item.IsRead = false;
            item.dirty = true;
            id == "read" ? $(selectedRows[i]).removeClass("unread") : $(selectedRows[i]).addClass("unread");;
        }

        if (id == "unread") {
            Cookies.set('markedAsUnread', 'marked');
        }

        grid.dataSource.sync();
    }

    function mailPrint() {
        kendo.drawing.drawDOM($(".mail-details"))
            .then(function (group) {
                return kendo.drawing.exportPDF(group, {
                    paperSize: "auto",
                    margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                });
            })
            .done(function (data) {
                kendo.saveAs({
                    dataURI: data,
                    fileName: "Mail.pdf"
                });
            });
    }

    function changeToVerticalPanes() {
        var grid = $("#mainWidget").data("kendoGrid");
        grid.hideColumn(1);
        grid.hideColumn(2);
        grid.showColumn(3);
        $('.mail-grid').attr('style', "display: inline-block; width: 35%");
        $('.mail-details').attr('style', "display: inline-block; vertical-align: top;");
    }

    function changeToHorizontalPanes() {
        var grid = $("#mainWidget").data("kendoGrid");
        grid.hideColumn(3);
        grid.showColumn(1);
        grid.showColumn(2);
        $('.mail-grid').attr('style', "display: block;");
        $('.mail-details').attr('style', "display: block;");
    }

    function selectFolder(e) {
        var dataItem = this.dataItem(e.node);
        var selectedText = e.sender.dataItem(e.node).value;
        Cookies.set('selected', kendo.stringify(dataItem.index));
        selected = Cookies.get('selected');

        var mailsGrid = $("#mainWidget").data("kendoGrid");
        if (!mailsGrid) {
            window.location.href = "/Home/Index";
        } else {
            mailsGrid.dataSource.filter({ field: "Folder", operator: "contains", value: selectedText });
        }
    }

    function getinitialNumberOfItems(gridData) {
        var numbers = { Inbox: 0, Junk: 0, Drafts: 0, Deleted: 0, NativeScript: 0, KendoUI: 0, Sitefinity: 0 };
        for (var i = 0; i < gridData.length; i++) {
            var currentItemFolder = gridData[i].Folder;
            numbers[currentItemFolder] += 1;
        }

        return numbers;
    }

    function mailGridDataBound(e) {
        var grid = e.sender;

        for (var i = 0; i < grid.tbody.find(">tr").length; i++) {
            var item = grid.dataItem(grid.tbody.find(">tr")[i]);
            if (item.IsRead == false) {
                $(grid.tbody.find(">tr")[i]).addClass("unread")
            }
        }

        polulateSelectedRows(grid);

        $.ajax({
            url: '@Url.Action("Read", "Home")',
            success: function (gridData) {
                var numbers = getinitialNumberOfItems(gridData.Data);
                var data = [{
                    text: "Inbox " + numbers.Inbox,
                    value: "Inbox"
                }, {
                    text: "Junk " + numbers.Junk,
                    value: "Junk"
                }, {
                    text: "Drafts " + numbers.Drafts,
                    value: "Drafts"
                }, {
                    text: "Deleted " + numbers.Deleted,
                    value: "Deleted"
                }, {
                    text: "NativeScript " + numbers.NativeScript,
                    value: "NativeScript"
                }, {
                    text: "KendoUI " + numbers.KendoUI,
                    value: "KendoUI"
                }, {
                    text: "Sitefinity " + numbers.Sitefinity,
                    value: "Sitefinity"
                }];

                populateNavigationTree(data);
            }
        });
    }

    function mailSelectionChanged(e) {
        var selectedRows = this.select();

        selectionChanged(e.sender, 'mailsSelectedRow');
        checkSelectedCheckbox(selectedRows);

        if (selectedRows.length === 1) {
            var dataItem = this.dataItem(selectedRows[0]);
            populateDetailsView(dataItem);
        }
    }

    function checkSelectedCheckbox(selectedRows) {
        $('input.chkbx').prop('checked', false);

        var checkboxes = selectedRows.find('.chkbx');
        checkboxes.prop('checked', true);
    }

    function populateDetailsView(item) {
        $('.mail-subject').text(item.Subject);
        $('.mail-sender').text(item.From);
        $('.mail-date').text(item.Date);
        $('.mail-text').html(item.Text);
    }

    $('.new-Mail').on('click', function (e) {
        $(".main-section").load('@(Url.Action("NewMail", "Home", new { @id = "RE"}))');
    });

    $(".search-textbox").on('keyup', function (e) {
        var text = $(e.target).val();
        var tasksGrid = $("#mainWidget").data("kendoGrid");

        if (text === null || text == '') {
            tasksGrid.dataSource.filter({});
        } else {
            tasksGrid.dataSource.filter({ field: "Subject", operator: "contains", value: text });
        }
    });
</script>
