@(Html.Kendo().Menu()
    .Name("newMailButtons")
    .Items(items => {
        items.Add()
            .Text("Save");
        items.Add()
            .Text("Save");
        items.Add()
            .Text("Cancel");
    })
)
<br/>
@Html.Label("newMailSender", "From")

@(Html.Kendo().DropDownList()
    .Name("newMailSender")
    .BindTo(new List<SelectListItem>() {
        new SelectListItem() {
            Text = "Alabala.Morandi@progress.com",
            Value = "1"
        }
    })
    .Value("1")
)

@Html.Label("newMailPriority", "Priority")

@(Html.Kendo().DropDownList()
    .Name("newMailPriority")
    .BindTo(new List<SelectListItem>() {
        new SelectListItem() {
            Text = "Normal",
            Value = "1"
        },
        new SelectListItem() {
            Text = "Urgent",
            Value = "1"
        },
        new SelectListItem() {
            Text = "High",
            Value = "1"
        },
        new SelectListItem() {
            Text = "Low",
            Value = "1"
        }
    })
    .Value("1")
)
<br/>
<label for="to-textbox">To</label>
<input type="text"class="k-input to-textbox" name="to-textbox" >
<br />
<label for="subject-textbox">Subject</label>
<input type="text" class="k-input subject-textbox" name="subject-textbox">
<br/>
@(Html.Kendo().Upload()
    .Name("files")
    .Async(a => a
        .Save("Save", "Upload")
        .Remove("Remove", "Upload")
        .AutoUpload(true)
    )
    .Messages(m => m.Select("Add files ..."))
)
@(Html.Kendo().Editor()
      .Name("newMail")
      .HtmlAttributes(new { style = "height:440px" })
      .Resizable(resizable => resizable.Content(true).Toolbar(true))
      .ImageBrowser(imageBrowser => imageBrowser
          .Image("~/Content/UserFiles/Images/{0}")
          .Read("Read", "ImageBrowser")
          .Create("Create", "ImageBrowser")
          .Destroy("Destroy", "ImageBrowser")
          .Upload("Upload", "ImageBrowser")
          .Thumbnail("Thumbnail", "ImageBrowser")
      )
)
