
@{
    ViewBag.Title = "NewMail";
}

<div class="new-wrapper">
    @(Html.Kendo().Menu()
    .Name("newMailButtons")
    .Items(items =>
    {
        items.Add()
            .Text("Send");
        items.Add()
            .Text("Save");
        items.Add()
            .Text("Cancel");
    })
    )
    <div class="new-line">
        <div class="new-mail-dropdown-wrapper">
            @Html.Label("newMailSender", "From")
            <br />
            @(Html.Kendo().DropDownList()
                .Name("newMailSender")
                .BindTo(new List<SelectListItem>() {
                    new SelectListItem() {
                        Text = "Alabala.Morandi@progress.com",
                        Value = "1"
                    }
                })
                .Value("1")
                .HtmlAttributes(new { style = "width: 280px;" })
            )
        </div>
        <div class="new-mail-dropdown-wrapper">
            @Html.Label("newMailPriority", "Priority")
            <br />
            @(Html.Kendo().DropDownList()
                .Name("newMailPriority")
                .BindTo(new List<SelectListItem>() {
                    new SelectListItem() {
                        Text = "Normal",
                        Value = "1"
                    },
                    new SelectListItem() {
                        Text = "Urgent",
                        Value = "1"
                    },
                    new SelectListItem() {
                        Text = "High",
                        Value = "1"
                    },
                    new SelectListItem() {
                        Text = "Low",
                        Value = "1"
                    }
                })
                .Value("1")
                .HtmlAttributes(new { style = "width: 100px;" })
            )
        </div>
    </div>
    <div class="new-line">
        <label for="to-textbox">To</label>
        <br/>
        <input type="text" class="k-input long-textbox to-textbox" name="to-textbox" value="@ViewBag.MailTo">
    </div>
    <div class="new-line">
        <label for="subject-textbox">Subject</label>
        <br />
        <input type="text" class="k-input long-textbox subject-textbox" name="subject-textbox" value="@ViewBag.ReplyButtonID @ViewBag.Subject">
    </div>
    <div class="attachements-line">
        <label for="files">Attachments</label>
        @(Html.Kendo().Upload()
            .Name("files")
            .Async(a => a
                .Save("Save", "Upload")
                .Remove("Remove", "Upload")
                .AutoUpload(true)
            )
            .Messages(m => m.Select("Add files ..."))
        )
    </div>


    @(Html.Kendo().Editor()
      .Name("newMail")
      .HtmlAttributes(new { style = "height: 500px;" })
      .Resizable(resizable => resizable.Content(true).Toolbar(true))
      .ImageBrowser(imageBrowser => imageBrowser
          .Image("~/Content/UserFiles/Images/{0}")
          .Read("Read", "ImageBrowser")
          .Create("Create", "ImageBrowser")
          .Destroy("Destroy", "ImageBrowser")
          .Upload("Upload", "ImageBrowser")
          .Thumbnail("Thumbnail", "ImageBrowser")
      )
    )
</div>
