@{
    ViewBag.Title = "Calendar";
}

@model IEnumerable<TelerikMvcWebMail.Models.TaskViewModel>

<aside class="calendar-aside">
	@(Html.Kendo().Calendar()
		.Name("calendar")
	)
	<ul class="calendar-checkbox-list">
		<li>@(Html.Kendo().CheckBox().Name("personal").Checked(true).Label("Personal"));</li>
		<li>@(Html.Kendo().CheckBox().Name("work").Checked(true).Label("Work"));</li>
		<li>@(Html.Kendo().CheckBox().Name("Development").Checked(true).Label("development"));</li>
		<li>@(Html.Kendo().CheckBox().Name("design").Checked(true).Label("Design"));</li>
		<li>@(Html.Kendo().CheckBox().Name("marketing").Checked(true).Label("Marketing"));</li>
	</ul>
</aside>

<div class="content">
	@(Html.Kendo().ToolBar()
		.Name("calendarToolbar")
		.Items(items =>
		{
			items.Add().Type(CommandType.Button).Text("Next");

			items.Add().Type(CommandType.SplitButton).Text("Export").MenuButtons(menuButtons =>
			{
				menuButtons.Add().Text("Export to PDF").Id("exportPdf");
				menuButtons.Add().Text("Export to Image").Id("exportImage"); 
			});

			items.Add().Type(CommandType.Button).Text("Import");

			items.Add().Type(CommandType.Button).SpriteCssClass("k-tool-icon k-i-search");
		})
		.Events(e => e.Click("toolBarOnClick"))
	)

	@(Html.Kendo().Scheduler<TelerikMvcWebMail.Models.TaskViewModel>()
		.Name("scheduler")
		.Date(new DateTime(2013, 6, 13))
		.ShowWorkHours(true)
		.StartTime(new DateTime(2013, 6, 13, 7, 00, 00))
		.Views(views =>
		{
			views.DayView();
			views.WorkWeekView(workWeekView => workWeekView.Selected(true));
			views.WeekView();
			views.MonthView();
			views.AgendaView();
			views.TimelineView();
		})
		.Timezone("Etc/UTC")
		.BindTo(Model)
		.Resources(resource =>
		{
			resource.Add(m => m.OwnerID)
				.Title("Owner")
				.DataTextField("Text")
				.DataValueField("Value")
				.DataColorField("Color")
				.BindTo(new[] {
					new { Text = "Alex", Value = 1, Color = "#f8a398" } ,
					new { Text = "Bob", Value = 2, Color = "#51a0ed" } ,
					new { Text = "Charlie", Value = 3, Color = "#56ca85" }
				});
		})
	)
</div>
<script>
	function toolBarOnClick(e) {
		if (e.id == "exportPdf") {
			exportSchedulerToPdf($("#scheduler"), "Calendar.pdf");
		}
		else if (e.id == "exportImage") {
			exportSchedulerToImage($("#scheduler"), "Calendar.png")
		}
	}

	function exportSchedulerToPdf(content, fileName) {
		kendo.drawing.drawDOM(content)
			.then(function (group) {
				return kendo.drawing.exportPDF(group, {
					paperSize: "auto",
					margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
				});
			})
			.done(function (data) {
				kendo.saveAs({
					dataURI: data,
					fileName: fileName
				});
			});
	}

	function exportSchedulerToImage(content, fileName) {
		kendo.drawing.drawDOM(content)
			.then(function (group) {
				return kendo.drawing.exportImage(group);
			})
			.done(function (data) {
				kendo.saveAs({
					dataURI: data,
					fileName: fileName
				});
			});
	}
</script>


