@using TelerikMvcWebMail.Models

@{
    ViewBag.Title = "Contacts";
}


<script type="text/x-kendo-tmpl" id="list-template">
    <div class="contact-list k-widget">
        <img src="@Url.Content("~/Content/contacts/")#:EmployeeID#.jpg" alt="#:EmployeeID # image" />
        <span>#: Name #</span>
        <div class="edit-buttons">
            <a class="k-button k-email-button" href="\\#"><span class="k-icon k-i-maximize"></span></a>
            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
            <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
        </div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="cards-template">
    <div class="contact-card k-widget">
        <img src="@Url.Content("~/Content/contacts/")#:EmployeeID#.jpg" alt="#:EmployeeID # image" />
        <h3>#: Name #</h3>
        <p>Country : #: Country # </p>
        <p>City : #: City # </p>
        <p>Company : #: Company # </p>
        <p>Phone : #: HomePhone # </p>
        <div class="edit-buttons">
            <a class="k-button k-email-button" href="\\#"><span class="k-icon k-i-maximize"></span></a>
            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
            <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
        </div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="single-contact-template">
    <div class="contact-view k-widget" uid="#: uid #">
        <span class="hidden-email" style="display:none">#: Email #</span>
        <img src="@Url.Content("~/Content/contacts/")#:EmployeeID#.jpg" alt="#:EmployeeID # image" />
        <h3>#: Name #</h3>
        <p>Country : #: Country # </p>
        <p>City : #: City # </p>
        <p>Company : #: Company # </p>
        <p>Phone : #: HomePhone # </p>
        <div class="edit-buttons">
            <a class="k-button k-single-email-button" href="\\#"><span class="k-icon k-i-maximize"></span></a>
            <a class="k-button k-single-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
            <a class="k-button k-single-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
        </div>
    </div>
</script>

<aside class="treeview-wrapper">
    @(Html.Kendo().Button()
        .Name("addNewContact")
        .Icon("plus")
        .Content("New Contact")
        .HtmlAttributes(new { type = "button" })
        .Events(ev => ev.Click("createNewContact"))
    )

    @(Html.Kendo().TreeView()
        .Name("contactsTreeView")
        .Events(e => e.Select("selectContactsFolder"))
    )

    <div class="about-and-source">
        <div>
            @Html.ActionLink("About This App", "About", "Home")
        </div>
        <div>
            @Html.ActionLink("Download Source Code", "", "")
        </div>
        <p>
            Copyright &copy; @DateTime.Now.Year Progress Software Corporation and/or its subsidiaries or affiliates.
        </p>
        <p>
            All Rights Reserved.
        </p>
    </div>
</aside>

<div class="content">
    <div class="view-header-wrapper">
        <div class="btn-export-pdf" onclick="exportPeople()">Export to PDF</div>
        <div class="btn-cards" onclick="changeToContactsCards()">Cards (Placeholder text)</div>
        <div class="btn-listdetails" onclick="changeToListDetails()">Vertical Panes (Placeholder text)</div>
    </div>
    <input type="text" class="k-input search-textbox" placeholder="Search people ...">
    <div class="contacts">
        @(Html.Kendo().ListView<TelerikMvcWebMail.Models.ContactViewModel>()
            .Name("contactsListView")
            .TagName("div")
            .ClientTemplateId("list-template")
            .DataSource(dataSource => dataSource
                .Model(model => model.Id("EmployeeID"))
                .Create(create => create.Action("Contacts_Create", "Contacts"))
                .Read(read => read.Action("Contacts_Read", "Contacts"))
                .Update(update => update.Action("Contacts_Update", "Contacts"))
                .Destroy(destroy => destroy.Action("Contacts_Destroy", "Contacts"))
                .Events(e => e.Sync("onListViewSync"))
            )
            .Editable()
            .Selectable()
            .Events(e => e
                .DataBound("onListViewDataBound")
                .Change("onListViewSelectionChange")
            )
        )
        <div class="contact-details k-widget">
        </div>
    </div>
</div>

<script>
    var shouldChangeTreeViewNumbers = true;

    function exportPeople() {
        kendo.drawing.drawDOM($(".contacts"))
            .then(function (group) {
                return kendo.drawing.exportPDF(group, {
                    paperSize: "auto",
                    margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                });
            })
            .done(function (data) {
                kendo.saveAs({
                    dataURI: data,
                    fileName: "People.pdf"
                });
            });
    }

    function changeToListDetails() {
        var lvDiv = $('#contactsListView');
        lvDiv.css('width', '400px');
        $('.contact-details').css('display', 'block');

        var lv = lvDiv.data('kendoListView');
        lv.setOptions({ template: kendo.template($('#list-template').html()) });
        lv.refresh();
    }

    function changeToContactsCards() {
        var lvDiv = $('#contactsListView');
        lvDiv.css('width', '100%');
        $('.contact-details').css('display', 'none');

        var lv = lvDiv.data('kendoListView');
        lv.setOptions({ template: kendo.template($('#cards-template').html()) });
        lv.refresh();
    }

    function generateTreeViewNumbers(listView) {
        var navigationTreeView = $('#contactsTreeView').data('kendoTreeView');
        var listViewData = listView.dataSource.data();
        var numbers = { Favorites: 0, Friends: 0, Work: 0 };
        for (var i = 0; i < listViewData.length; i++) {
            var currentItemCategory = listViewData[i].Folder;
            numbers[currentItemCategory] += 1;
        }

        var allNumber = numbers.Favorites + numbers.Friends + numbers.Work;

        var data = [{
            text: "All " + allNumber,
            value: "All"
        }, {
            text: "Favorites " + numbers.Favorites,
            value: "Favorites"
        }, {
            text: "Friends " + numbers.Friends,
            value: "Friends"
        }, {
            text: "Work " + numbers.Work,
            value: "Work"
        }];

        var newDataSource = new kendo.data.HierarchicalDataSource({ data: data });

        navigationTreeView.setDataSource(newDataSource);
    }

    function onListViewDataBound(e) {
        var listView = e.sender;
        var selectedItem = listView.select();

        if (selectedItem.length === 0) {
            listView.select(listView.element.children().first());
        }

        if (shouldChangeTreeViewNumbers) {
            generateTreeViewNumbers(listView);
        } else {
            shouldChangeTreeViewNumbers = true;
        }

        $('.k-email-button').on('click', createNewMail);
        $('.search-textbox').on('keyup', searchContacts);
    }

    function searchContacts(e) {
        var text = $(e.target).val();

        var listView = $("#contactsListView").data("kendoListView");
        listView.dataSource.filter({ field: "Name", operator: "contains", value: text });
    }

    function createNewMail(e) {
        var target = $(e.target);
        var listVewItem = target.parents('.contact-list, .contact-card');
        var listView = $('#contactsListView').data('kendoListView');
        var dataItem = listView.dataItem(listVewItem);
        var email = dataItem.Email;

        debugger;
        // Implement here create new email logic
    };

    function singleCreateNewMail(e) {
        var target = $(e.target);
        var singleItem = target.parents('.contact-view');
        var email = singleItem.find('.hidden-email').text();

        debugger;
        // Implement here create new email logic
    };

    function singleEditClick(e) {
        var uid = getItemUid(e);
        var listView = $("#contactsListView").data("kendoListView");
        listView.edit(listView.element.find('[data-uid="' + uid + '"]'));
    }

    function singleDeleteClick(e) {
        var uid = getItemUid(e);
        var listView = $("#contactsListView").data("kendoListView");
        listView.remove(listView.element.find('[data-uid="' + uid + '"]'));
    }

    function getItemUid(e) {
        var target = $(e.target);
        var singleItem = target.parents('.contact-view');
        return singleItem.attr('uid');
    }

    function onListViewSelectionChange(e) {
        var selecteditem = e.sender.select();
        var dataItem = e.sender.dataItem(selecteditem);
        var template = kendo.template($('#single-contact-template').html());
        var result = template(dataItem);
        $(".contact-details").html(result);

        $('.k-single-email-button').on('click', singleCreateNewMail);
        $('.k-single-edit-button').on('click', singleEditClick);
        $('.k-single-delete-button').on('click', singleDeleteClick);
    }

    function createNewContact() {
        var listView = $("#contactsListView").data("kendoListView");
        listView.add();
    }

    function selectContactsFolder(e) {
        var selectedText = e.sender.dataItem(e.node).value;

        var contactsListView = $("#contactsListView").data("kendoListView");

        if (selectedText === "All") {
            contactsListView.dataSource.filter({});
            shouldChangeTreeViewNumbers = true;
        } else {
            contactsListView.dataSource.filter({ field: "Folder", operator: "contains", value: selectedText });
            shouldChangeTreeViewNumbers = false;
        }
    }

    function onListViewSync(e) {
        var contactsListView = $("#contactsListView").data("kendoListView");
        contactsListView.dataSource.filter({});
    }

</script>
