@{
	ViewBag.Title = "NewContact";
}

<div class="new-line">
	<h3>Create New Contact</h3>
</div>
<div class="new-contact-dropdown-wrapper">
    @Html.Label("newContactFolder", "Folder")
    <br />
    @(Html.Kendo().DropDownList()
        .Name("newContactFolder")
        .BindTo(new List<SelectListItem>() {
            new SelectListItem() {
                Text = "All",
                Value = "1"
            }
        })
        .Value("1")
    )
</div>
<div class="new-contact-upload-wrapper" >
	@(Html.Kendo().Upload()
        .Name("photos")
		.Messages(m => m.DropFilesHere("Drop files here to upload").Select("Add Photo..."))
    )
</div>
<div class="new-line">
    <label for="title-textbox">Title</label>
    <br/>
    <input type="text" class="k-input title-textbox" name="title-textbox">
</div>
<div class="new-line">
    <label for="name-textbox">Name</label>
    <br />
    <input type="text" class="k-input name-textbox" name="name-textbox">
</div>
<div class="new-line">
    <label for="company-textbox">Company</label>
    <br />
    <input type="text" class="k-input company-textbox" name="company-textbox">
</div>
<div class="new-line">
    <label for="city-textbox">City</label>
    <br />
    <input type="text" class="k-input city-textbox" name="city-textbox">
</div>
<div class="new-line">
    <label for="country-textbox">Country</label>
    <br />
    <input type="text" class="k-input country-textbox" name="country-textbox">
</div>
<div class="new-line">
    <label for="phone-textbox">Phone</label>
    <br />
    <input type="text" class="k-input phone-textbox" name="phone-textbox">
</div>
<div class="new-line">
    <label for="phone-textbox">Phone</label>
    <br />
    <input type="text" class="k-input phone-textbox" name="phone-textbox">
</div>
<div class="new-line">
    <label for="email-textbox">Email</label>
    <br />
    <input type="text" class="k-input email-textbox" name="email-textbox">
</div>
 <div class="new-line">
    @(Html.Kendo().Button()
        .Name("saveContact")
        .HtmlAttributes(new { @class = "k-primary" })
        .Tag("span")
        .Content("Save"))

    @(Html.Kendo().Button()
        .Name("cancel")
        .Tag("span")
        .Content("Cancel"))
</div>