<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Kendo UI MVC Application</title>

    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="http://cdn.kendostatic.com/2016.3.1118/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2016.3.1118/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2016.3.1118/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2016.3.1118/styles/kendo.metro.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2016.3.1118/styles/kendo.dataviz.metro.min.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	@Styles.Render("~/Content/css")
	@RenderSection("PageStyles", false)

    <script src="http://cdn.kendostatic.com/2016.3.1118/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2016.3.1118/js/kendo.all.min.js"></script>
    <script src="http://cdn.kendostatic.com/2016.3.1118/js/kendo.aspnetmvc.min.js"></script>
    <script src="http://cdn.kendostatic.com/2016.3.1118/js/kendo.timezones.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.3/js.cookie.min.js"></script>
</head>
<body>
	<script id="button-template" type="text/x-kendo-template">
		
	</script>
    <script id="tooltip-template" type="text/x-kendo-template">
		<div class="image-wrapper">
			<img src="http://demos.telerik.com/kendo-ui/content/web/Customers/PICCO.jpg" style="border-radius: 100%" />
		</div>
        <span class="name">Antonio Morandi</span>
        <span>antonio.morandi@progress.com</span>
		@(Html.Kendo().Button()
			.Name("signInButton")
			.HtmlAttributes(new { @class = "k-primary" })
			.Content("Sign Out")
			.Events(ev => ev.Click("onClick"))
			.ToClientTemplate()
		)	
    </script>

	<script type="text/kendo-ui" id="menu-item-template">
		<span>
			<img src='http://demos.telerik.com/kendo-ui/content/web/Customers/PICCO.jpg'/>
		</span>
	</script>

    <header class="main-header">
            <h1 class="logo">
                WebMail
            </h1>
            @(Html.Kendo().Menu()
                .Name("mainMenu")
                .Items(items =>
                {
                    items.Add().Text("Mail").Action("Index", "Home");
                    items.Add().Text("Calendar").Action("Calendar", "Calendar");
                    items.Add().Text("People").Action("Contacts", "Contacts");
                    items.Add().Text("Tasks").Action("Tasks", "Tasks");
                    items.Add().Text("<span class='image-wrapper'><img src='http://demos.telerik.com/kendo-ui/content/web/Customers/PICCO.jpg'/><span/>").Encoded(false);
                })
            )

            @(Html.Kendo().Tooltip()
                .For("#mainMenu > li:last")
                .AutoHide(false)
                .ContentTemplateId("tooltip-template")
            )
    </header>


    <content class="main-content">
        @RenderBody()
    </content>

    <script>
        $('.home-btn').on("click", function () {
            $('.slider').toggleClass('expanded');
        });

        function onClick(e) {
        	location.href = '@Url.Action("SignIn", "SignIn")';
        	return false;
        }
    </script>
</body>
</html>