@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
    <link type="text/css" href="~/Content/signIn.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        <div class="header">
            <a href="@Url.Action("Index", "Home")" title="Go to WebMail">
                <h1>WebMail</h1>
                <p>ASP.NET MVC Demo App</p>
            </a>
        </div>
        <div class="footer">
            <p>
                Copyright &copy; @DateTime.Now.Year
                <br />
                Progress Software Corporation and/or its subsidiaries or affiliates.
            </p>
            <p>
                All Rights Reserved.
            </p>
        </div>
    </div>
    <div class="content">
        <h2>Sign In</h2>
        <label for="username-textbox">Username</label>
        <input type="text" class="k-input username-textbox" name="username-textbox">
        <label for="password-textbox">Password</label>
        <input type="text" class="k-input password-textbox" name="password-textbox">
        <br />
        <button id="signInButton" class="k-primary" onclick="location.href='@Url.Action("Index", "Home")';return false;">Sign In</button>
        <div>
            @Html.ActionLink("About This App", "About", "Home")
        </div>
        <div>
            @Html.ActionLink("Download Source Code", "Index", "SignIn")
        </div>
    </div>
</body>
</html>
